---
import { getDecapCollection } from '@lib/AstroDecap'
import Layout from '@layouts/Layout.astro'
import Card from '@components/Card.astro'

const resources = await getDecapCollection('resources')
---

<Layout title="Resource Listing Example" debug={resources}>
  <div class="relative isolate pt-14">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-288.75"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="py-8 sm:py-12 lg:pb-18">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h1
            class="text-5xl font-semibold tracking-tight text-balance text-gray-800 sm:text-7xl"
          >
            Pédagogie différenciée et transdisciplinaire
          </h1>
          <p
            class="mt-8 text-lg font-medium text-pretty text-gray-400 sm:text-xl/8"
          >
            Les référentiels curriculaires, élaborés en synergie avec les
            acteurs éducatifs, garantissent une progression spiralaire des
            savoirs, tout en valorisant l'autonomie épistémologique de l'élève
            dans un écosystème apprenant.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-16 pb-24">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <ul
        role="list"
        class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8"
      >
        {
          resources &&
            resources.map((resource) => (
              <Card
                name={resource.name}
                courseCode={resource.code}
                description={resource.imageAlt}
                imageUrl={resource.imageSrc}
              />
            ))
        }
      </ul>
    </div>
  </div>
</Layout>
